extends layout

block content
	h1= title
	p Bienvenu sur #{title}
	p 
		Pour #[strong option] : [possible : min / full / images / full,images / metadata ] voir http://docs.trakt.apiary.io/#introduction/extended-info . Préférer #[strong full] ou #[strong full,images]
	p Tout les retours sont fait en json (il faut de le préciser dans le header de la requète)

	table.table
		tr
			th Pattern (api/)
			th Options et paramètres
			th Description
		each movie in pages.Movies
			tr
				td= 'Movies/' + movie.title
				td
					ul
						each option in movie.options 
							li= option.title + ' : ' + option.description
				td= movie.description
		each series in pages.Series
			tr
				td= 'Series/' + series.title
				td
					ul
						each option in series.options 
							li= option.title + ' : ' + option.description
				td= series.description 
		each calendar in pages.calendars
			tr
				td= 'Calendar' + calendar.title
				td
					ul
						each option in calendar.options
							li= option.title + ' : ' + option.description
				td= calendar.description